// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// Variable overrides
$theme-colors: (
  primary: #fb6d65,
  lightGreen: #4dbd74,
  lightRed: #f87979,
  dark: #3c4b64,
) !default;
