// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// If you want to add something do it here
@import "custom";

$body-bg: $gray-900;
$body-color: $gray-600;
/*
.c-body,
.c-header,
.c-subheader {
  background-color: #313131;
}

.c-header,
.c-subheader {
  color: white;
}

https://coreui.io/demo/3.2.0/dark/

https://colorhunt.co/palettes/dark
*/
